In [99]:
import pandas as pd
import numpy as np

In [100]:
df=pd.read_csv('Loksabha_1962-2019 .csv')
df.head()

,Pc_name,no,type,state,candidate_name,party,electors,votes,Turnout,margin,margin%,year
0,Adilabad,36,GEN,Andhra Pradesh,G. Narayan Reddy,Indian National Congress,"4,04,283","2,20,383",54.5 %,"89,085",40.40%,1962.0
1,Adoni,27,GEN,Andhra Pradesh,Pendekanti Venkatasubbaiah,Indian National Congress,"4,19,077","2,52,379",60.2 %,"33,022",13.10%,1962.0
2,Agra,433,GEN,Uttar Pradesh [1947 - 1999],Seth Achal Singh,Indian National Congress,"4,33,164","2,75,663",63.6 %,"54,351",19.70%,1962.0
3,Ahmedabad,120,GEN,Gujarat,Indulal Kanaiyalal Yagnik,Nutan Maha Gujarat Janta Parisha,"4,33,392","2,70,346",62.4 %,"21,592",8.00%,1962.0
4,Ahmednagar,245,GEN,Maharashtra,Motilal Kundanmal Firodya,Indian National Congress,"4,03,913","2,22,091",55.0 %,"14,038",6.30%,1962.0

In [101]:
df.shape

(8047, 12)

In [102]:
df[df['Turnout'] == '-']

,Pc_name,no,type,state,candidate_name,party,electors,votes,Turnout,margin,margin%,year
1684,Daman And Diu,1,GEN,Daman & Diu,Data Not Available,-,-,-,-,-,-,1977.0
2112,Autonomous District,3,ST,Assam,Data Not Available,-,-,-,-,-,-,1980.0
2142,Barpeta,6,GEN,Assam,Data Not Available,-,-,-,-,-,-,1980.0
2227,Daman And Diu,1,GEN,Daman & Diu,Data Not Available,-,-,-,-,-,-,1980.0
2243,Dhubri,4,GEN,Assam,Data Not Available,-,-,-,-,-,-,1980.0
2246,Dibrugarh,13,GEN,Assam,Data Not Available,-,-,-,-,-,-,1980.0
2269,Gauhati,7,GEN,Assam,Data Not Available,-,-,-,-,-,-,1980.0
2333,Jorhat,12,GEN,Assam,Data Not Available,-,-,-,-,-,-,1980.0
2342,Kaliabor,11,GEN,Assam,Data Not Available,-,-,-,-,-,-,1980.0
2373,Kokrajhar,5,ST,Assam,Data Not Available,-,-,-,-,-,-,1980.0
2388,Lakhimpur,14,GEN,Assam,Data Not Available,-,-,-,-,-,-,1980.0
2416,Mangaldoi,8,GEN,Assam,Data Not Available,-,-,-,-,-,-,1980.0
2465,Nowgong,10,GEN,Assam,Data Not Available,-,-,-,-,-,-,1980.0
2552,Shillong,1,ST,Meghalaya,Data Not Available,-,-,-,-,-,-,1980.0
2583,Tezpur,9,GEN,Assam,Data Not Available,-,-,-,-,-,-,1980.0
2770,Daman And Diu,1,GEN,Daman & Diu,Data Not Available,-,-,-,-,-,-,1984.0
3199,Autonomous District,3,ST,Assam,Data Not Available,-,-,-,-,-,-,1989.0
3229,Barpeta,6,GEN,Assam,Data Not Available,-,-,-,-,-,-,1989.0
3330,Dhubri,4,GEN,Assam,Data Not Available,-,-,-,-,-,-,1989.0
3333,Dibrugarh,13,GEN,Assam,Data Not Available,-,-,-,-,-,-,1989.0
3356,Gauhati,7,GEN,Assam,Data Not Available,-,-,-,-,-,-,1989.0
3420,Jorhat,12,GEN,Assam,Data Not Available,-,-,-,-,-,-,1989.0
3429,Kaliabor,11,GEN,Assam,Data Not Available,-,-,-,-,-,-,1989.0
3438,Karimganj,1,SC,Assam,Data Not Available,-,-,-,-,-,-,1989.0
3460,Kokrajhar,5,ST,Assam,Data Not Available,-,-,-,-,-,-,1989.0
3475,Lakhimpur,14,GEN,Assam,Data Not Available,-,-,-,-,-,-,1989.0
3503,Mangaldoi,8,GEN,Assam,Data Not Available,-,-,-,-,-,-,1989.0
3552,Nowgong,10,GEN,Assam,Data Not Available,-,-,-,-,-,-,1989.0
3646,Silchar,2,GEN,Assam,Data Not Available,-,-,-,-,-,-,1989.0
3670,Tezpur,9,GEN,Assam,Data Not Available,-,-,-,-,-,-,1989.0
3729,Anantnag,3,GEN,Jammu & Kashmir,Data Not Available,-,-,-,-,-,-,1991.0
3766,Baramulla,1,GEN,Jammu & Kashmir,Data Not Available,-,-,-,-,-,-,1991.0
3950,Jammu,6,GEN,Jammu & Kashmir,Data Not Available,-,-,-,-,-,-,1991.0
4017,Ladakh,4,GEN,Jammu & Kashmir,Data Not Available,-,-,-,-,-,-,1991.0
4055,Meerut,80,GEN,Uttar Pradesh [1947 - 1999],Data Not Available,-,-,-,-,-,-,1991.0
4114,Patna,35,GEN,Bihar [1947 - 1999],Data Not Available,-,-,-,-,-,-,1991.0
4130,Purnea,24,GEN,Bihar [1947 - 1999],Data Not Available,-,-,-,-,-,-,1991.0
4201,Srinagar,2,GEN,Jammu & Kashmir,Data Not Available,-,-,-,-,-,-,1991.0
4231,Udhampur,5,GEN,Jammu & Kashmir,Data Not Available,-,-,-,-,-,-,1991.0

In [103]:
df.replace('-',value=np.nan,inplace=True)

In [104]:
df[df['party'] == '-']

Empty DataFrame
Columns: [Pc_name, no, type, state, candidate_name, party, electors, votes, Turnout, margin, margin%, year]
Index: []

In [105]:
df[df['Turnout'] == "Margin"]

,Pc_name,no,type,state,candidate_name,party,electors,votes,Turnout,margin,margin%,year
3161,No,Type,State,Winning Candidate,Party,Electors,Votes,Turnout,Margin,Margin %,NaN,NaN

In [106]:
df.drop(3161,axis=0,inplace=True)

In [107]:
df['Turnout'] = df['Turnout'].astype(str)

df["Turnout"]=df['Turnout'].map(lambda name: name.split(' ')[0])
df['Turnout'] = df['Turnout'].astype(float)

df['Turnout'].replace(0,value=np.nan,inplace=True)

In [108]:
df['margin%']=df['margin%'].str.replace('%', '').astype(float)
df['margin%'].replace(0,value=np.nan,inplace=True)

In [110]:
df['electors']=df['electors'].str.replace(',', '').astype(float)
df['electors'].replace(0,value=np.nan,inplace=True)

In [111]:
df[df['votes'] == "RU"]

,Pc_name,no,type,state,candidate_name,party,electors,votes,Turnout,margin,margin%,year
22,Angul,307,GEN,Orissa,Harekrushna Mahtab,Indian National Congress,445165.0,RU,NaN,RU,NaN,1962.0
454,Tehri Garhawal,360,GEN,Uttar Pradesh [1947 - 1999],Manabendra Shah,Indian National Congress,415051.0,RU,NaN,RU,NaN,1962.0
464,Tiruchendur,224,GEN,Madras,T. T. Krishnamachari,Indian National Congress,460766.0,RU,NaN,RU,NaN,1962.0
518,Anantnag,144,GEN,Jammu & Kashmir,M.S. Qureshi,Indian National Congress,1.0,RU,NaN,RU,NaN,1967.0
780,Kokrajhar,46,ST,Assam,R. Brahma,Indian National Congress,415618.0,RU,NaN,RU,NaN,1967.0
796,Ladakh,145,GEN,Jammu & Kashmir,K. Bakula,Indian National Congress,51381.0,RU,NaN,RU,NaN,1967.0
854,Nagaland,296,GEN,Nagaland,Chubatoshi,Nagaland Nationalist Organisation,214951.0,RU,NaN,RU,NaN,1967.0
1007,Vijayawada,13,GEN,Andhra Pradesh,K.L. Rao,Indian National Congress,522116.0,RU,NaN,RU,NaN,1967.0
1314,L M And A Islands,513,GEN,"Laccadive, Minicoy And Amindivi Islands",Sadanatha Mohammed Sayeed,Indian National Congress,14977.0,RU,NaN,RU,NaN,1971.0
1564,Arunachal West,1,GEN,Arunachal Pradesh,Rinchin Khandu Khimre,Indian National Congress,121887.0,RU,NaN,RU,NaN,1977.0
2014,Sikkim,1,GEN,Sikkim,Chatra Bahadur Chhetri,Indian National Congress,124023.0,RU,NaN,RU,NaN,1977.0
2571,Srinagar,2,GEN,Jammu & Kashmir,Farooq Abdullah,Jammu & Kashmir National Conference,519706.0,RU,NaN,RU,NaN,1980.0
2974,Mizoram,1,ST,Mizoram,Lal Dohama,Indian National Congress,255676.0,RU,NaN,RU,NaN,1984.0
3658,Srinagar,2,GEN,Jammu & Kashmir,Mohammad Shafi Bhat,Jammu & Kashmir National Conference,782715.0,RU,NaN,RU,NaN,1989.0

In [112]:
df.replace('RU',value=np.nan,inplace=True)

In [113]:
df['votes']=df['votes'].str.replace(',', '').astype(float)
df['votes'].replace(0,value=np.nan,inplace=True)

In [114]:
df['year']=df['year'].astype(int)

In [117]:
df.rename(columns={'Turnout':'turnout'},inplace=True)

In [118]:
df.head()

,Pc_name,no,type,state,candidate_name,party,electors,votes,turnout,margin,margin%,year
0,Adilabad,36,GEN,Andhra Pradesh,G. Narayan Reddy,Indian National Congress,404283.0,220383.0,54.5,"89,085",40.4,1962
1,Adoni,27,GEN,Andhra Pradesh,Pendekanti Venkatasubbaiah,Indian National Congress,419077.0,252379.0,60.2,"33,022",13.1,1962
2,Agra,433,GEN,Uttar Pradesh [1947 - 1999],Seth Achal Singh,Indian National Congress,433164.0,275663.0,63.6,"54,351",19.7,1962
3,Ahmedabad,120,GEN,Gujarat,Indulal Kanaiyalal Yagnik,Nutan Maha Gujarat Janta Parisha,433392.0,270346.0,62.4,"21,592",8.0,1962
4,Ahmednagar,245,GEN,Maharashtra,Motilal Kundanmal Firodya,Indian National Congress,403913.0,222091.0,55.0,"14,038",6.3,1962

In [120]:
df.to_csv("Loksabha_election_data_1962-2019",index=False)